body[theme='mpl-dfn-light'] {
  --Theme01: #fefcfd;
  --Theme02: #fdf5f7;
  --Theme03: #f9e6ea;
  --Theme04: #f1c2cd;
  --Theme05: #e591a6;
  --Theme06: #d95e7c;
  --Theme07: #ce2e54;
  --Theme08: var(--color-4);
  --Theme09: #a60028;
  --Theme10: #8a0021;
  --Theme11: #6f001b;
  --Theme12: #580015;
  --Theme13: #3b000e;
  --Black01: #ffffff;
  --Black02: #fcfcfc;
  --Black03: #f5f5f5;
  --Black04: #f0f0f0;
  --Black05: #d9d9d9;
  --Black06: #bfbfbf;
  --Black07: #8c8c8c;
  --Black08: #595959;
  --Black09: #454545;
  --Black10: #262626;
  --Black11: #1f1f1f;
  --Black12: #141414;
  --Black13: #000000;
  --Font_BH1: #000000e6;
  --Font_BH2: #00000099;
  --Font_BH3: #00000066;
  --Font_BH4: #00000033;
  --Font_WH1: #fff;
  --Font_WH2: #ffffffb3;
  --Font_WH3: #ffffff80;
  --Font_WH4: #ffffff4d;
  --Blue01: #ecf4fe;
  --Blue02: #c5dcfd;
  --Blue03: #69a5f9;
  --Blue04: #448ef7;
  --Blue05: #3065af;
  --Green01: #f0f8ef;
  --Green02: #cfeacc;
  --Green03: #83c97d;
  --Green04: #64bb5c;
  --Green05: #478541;
  --Red01: #fdece9;
  --Red02: #f8c4bc;
  --Red03: #ed6651;
  --Red04: #e84026;
  --Red05: #a52d1b;
  --Yellow01: #fdf7ec;
  --Yellow02: #fae6c4;
  --Yellow03: #f2bf67;
  --Yellow04: #efaf41;
  --Yellow05: #aa7c2e;
  --MC01: #564af7;
  --MC02: #46b1e3;
  --MC03: #61cfbe;
  --MC04: #64bb5c;
  --MC05: #a5d61d;
  --MC06: #ac49f5;
  --MC07: #e64566;
  --MC08: #e84026;
  --MC09: #ed6f21;
  --MC10: #f9a01e;
  --MC11: #f7ce00;
  --T1: 10px;
  --T2: 12px;
  --T3: 14px;
  --T4: 16px;
  --T5: 20px;
  --Bold: 600;
  --Regular: 400;
  --s-xxs: 4px;
  --s-xs: 8px;
  --s-m: 16px;
  --s-sm: 32px;
  --s-l: 48px;
  --SL4: 0px 12px 42px 0 #0000003d;
  --SL3: 0px 10px 32px 0 #0000002e;
  --SL2: 0px 6px 18px 0 #00000024;
  --SL1: 0px 1px 5px 0 #0000001a;
  --bolder: 2;
  --right-angle: 0;
  --regular: 2;
  --primary-color: #227447;
  --bigger: 8;
  --rounded: 50;
  --defaultConfig: 1;
  --bold: 3;
  --medium: 4;
}
