body[theme='light'] {
  --Theme01: rgba(245, 249, 253, 1);
  --Theme02: rgba(240, 246, 253, 1);
  --Theme03: rgba(230, 240, 251, 1);
  --Theme04: rgba(195, 219, 245, 1);
  --Theme05: rgba(148, 191, 238, 1);
  --Theme06: rgba(98, 162, 230, 1);
  --Theme07: rgba(51, 134, 222, 4);
  --Theme08: rgba(6, 107, 215, 1);
  --Theme09: rgba(5, 91, 183, 1);
  --Theme10: rgba(4, 76, 153, 1);
  --Theme11: rgba(3, 61, 123, 1);
  --Theme12: rgba(3, 48, 97, 1);
  --Theme13: rgba(2, 25, 51, 1);
  --Black01: rgba(255, 255, 255, 1);
  --Black02: rgba(252, 252, 252, 0.01);
  --Black03: rgba(245, 245, 245, 0.04);
  --Black04: rgba(240, 240, 240, 0.06);
  --Black05: rgba(217, 217, 217, 0.15);
  --Black06: rgba(191, 191, 191, 0.25);
  --Black07: rgba(140, 140, 140, 0.45);
  --Black08: rgba(89, 89, 89, 0.65);
  --Black09: rgba(69, 69, 69, 0.73);
  --Black10: rgba(38, 38, 38, 0.85);
  --Black11: rgba(31, 31, 31, 0.88);
  --Black12: rgba(20, 20, 20, 0.92);
  --Black13: rgba(0, 0, 0, 1);
  --Font_BH1: rgba(0, 0, 0, 0.9);
  --Font_BH2: rgba(0, 0, 0, 0.6);
  --Font_BH3: rgba(0, 0, 0, 0.4);
  --Font_BH4: rgba(0, 0, 0, 0.2);
  --Font_WH1: rgba(255, 255, 255, 1);
  --Font_WH2: rgba(255, 255, 255, 0.7);
  --Font_WH3: rgba(255, 255, 255, 0.5);
  --Font_WH4: rgba(255, 255, 255, 0.3);
  --Blue01: rgba(236, 244, 254, 1);
  --Blue02: rgba(197, 220, 253, 1);
  --Blue03: rgba(105, 165, 249, 1);
  --Blue04: rgba(68, 142, 247, 1);
  --Blue05: rgba(48, 101, 175, 1);
  --Green01: rgba(240, 248, 239, 1);
  --Green02: rgba(207, 234, 204, 1);
  --Green03: rgba(131, 201, 125, 1);
  --Green04: rgba(100, 187, 92, 1);
  --Green05: rgba(71, 133, 65, 1);
  --Red01: rgba(253, 236, 233, 1);
  --Red02: rgba(248, 196, 188, 1);
  --Red03: rgba(237, 102, 81, 1);
  --Red04: rgba(232, 64, 38, 1);
  --Red05: rgba(165, 45, 27, 1);
  --Yellow01: rgba(253, 247, 236, 1);
  --Yellow02: rgba(250, 230, 196, 1);
  --Yellow03: rgba(242, 191, 103, 1);
  --Yellow04: rgba(239, 175, 65, 1);
  --Yellow05: rgba(170, 124, 46, 1);
  --MC01: rgba(86, 74, 247, 1);
  --MC02: rgba(70, 177, 227, 1);
  --MC03: rgba(97, 207, 190, 1);
  --MC04: rgba(100, 187, 92, 1);
  --MC05: rgba(165, 214, 29, 1);
  --MC06: rgba(172, 73, 245, 1);
  --MC07: rgba(230, 69, 102, 1);
  --MC08: rgba(232, 64, 38, 1);
  --MC09: rgba(237, 111, 33, 1);
  --MC10: rgba(249, 160, 30, 1);
  --MC11: rgba(247, 206, 0, 1);
  --T1: 10px;
  --T2: 12px;
  --T3: 14px;
  --T4: 16px;
  --T5: 18px;
  --Bold: 600;
  --Regular: 400;
  --s-xxs: 4;
  --s-xs: 8;
  --s-m: 16;
  --s-sm: 32;
  --s-l: 48;
  --SL4: 0px12px42px0rgba (0, 0, 0, 0.24);
  --SL3: 0px10px32px0rgba (0, 0, 0, 0.18);
  --SL2: 0px6px18px0rgba (0, 0, 0, 0.14);
  --SL1: 0px1px5px0rgba (0, 0, 0, 0.1);
  --bolder: 2;
  --right-angle: 0;
  --regular: 2;
  --primary-color: #3ed34578;
  --bigger: 8;
  --rounded: 50;
  --defaultConfig: 1;
  --bold: 3;
  --medium: 4;
}
